@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"

$primary-blue: rgba(4,100,179,70)
$dark-blue: rgba(1,57,102,40)
$light-blue: rgba(31,154,255,100)
$dark-yellow: rgba(102,62,0,40)
$light-yellow: rgba(179,110,4,70)
$very-light-yellow: rgba(179,110,4,0.2)

.logo
  font-weight: 700
  color: $primary-blue
.logo-text
  padding-bottom: 5px

.navbar-item
  font-weight: 600
  color: $dark-blue

.featured
  background-color: $dark-blue
  color: #fff
  
  h2
    font-size: 2em
    text-align: center
    margin-bottom: 1em

nav
  padding: 0 20px

card
  background-color: #fff

body
  background-color: $very-light-yellow

.social-icons
  padding: 0 15px
  color: #fff