@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"

$primary-blue: #021373
$dark-blue: #273A73
$yellow: #F2A81D
$orange: #D97F11
$red: #A64208

.navbar-item
  font-weight: 600
  color: #fff

.navbar-burger
  color: #fff

.section
  h2
    font-size: 2em
    text-align: center
    margin-bottom: 1em

.spotlight-article
  .card-header-title
    font-size: 1.5rem
  .card-content
    padding: 1rem

.section-dark
  h1, h2, h3, h4, h5, h6, label, p
    color: #fff

.navbar
  padding: 10px 20px
  background-color: $dark-blue
  border-bottom: 1px solid rgb(150,150,150)

.newsletter-signup
  background-color: $dark-blue

  p
    text-align: center
    margin-bottom: 1rem

  h2
    margin-bottom: 1rem

.social-icons
  padding: 0 15px
  color: #fff

.footer
  padding-bottom: 3rem

$break-lg: 1408px
$break-md: 1216px
$break-sm: 1024px

@media screen and (min-width: $break-lg)
  .container
    max-width: 1200px

@media screen and (min-width: $break-md)
  .container
    max-width: 1100px

@media screen and (min-width: $break-sm)
  .container
    max-width: 1000px